body {
    padding: 5% 15% 5% 15%;
    margin: 0;
}

label {
    font-weight: bold;
}

.Entry {
    margin-bottom: 1.5rem;
}

input {
    padding: 2px 10px;
    box-sizing: border-box;
    border: 2px solid orange;
}
